body {
    font-family: Verdana,"Sans-serif";
    font-size: 14px;
}

fieldset {
    border: solid 1px #d5d5d5;
    background-color: #e9e8e3;
    float:left;
}

label {
    float: left;
    margin-top: -16px;
    width:125px;
}

input[type=text] {
    float: left;
    border: solid 1px #d5d5d5;
    margin: 6px 12px 20px -125px;
    width:125px;
}

select {
    float:left;
    margin: 6px 12px 20px -125px;
    width:125px;
}

div {
    //display:table-row;
}

div.control div{
    height: 145px;    
}

div.control div form{
    float:left;    
}

div.timeframedays {
    border: solid 1px #aaaaaa;
    padding:4px 4px 4px 4px;
    display:inline-block;
    font-size: 8px;
}

div.price,div.price_value {
    display:block;
    padding:1px 1px 1px 1px;
    border: solid 1px #dddddd;
    background:url("../img/back_orange.png") no-repeat;
    margin: 1px 1px 1px 1px;
}

div.price_value {
    background:url("../img/back_orange_value.png") no-repeat;
}


